h1 {
    font-family:'Raleway', sans-serif;
    font-size:40px;
}
h2 {
    font-family:'Raleway', sans-serif;
}

h3 {
    font-family:'Raleway', sans-serif;
}

p {
    font-family:'Raleway', sans-serif;
    font-size:20px;
}

ul {
    font-family:'Raleway', sans-serif;
}

ol {
    font-family:'Raleway', sans-serif;
}

footer {
    border-top: 1px solid black;
    margin-top: 0px;
}

.indexbody {
    background: url(../images/bckgrnd.png);
    height:500px;
}


.homrow1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  padding-bottom:80px;
  }

.homrow2 {
  background-color: rgba(255,255,255,0.8);
  padding-bottom:20px;
}



.navbar-default {
  background-image: -webkit-linear-gradient(top, #C5FCF6 0%, #A3C6F0 100%);
  background-image: -o-linear-gradient(top, #C5FCF6 0%, #A3C6F0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C5FCF6), to(#A3C6F0));
  background-image: linear-gradient(to bottom, #C5FCF6 0%, #A3C6F0 100%);
  border-bottom: 1px solid black;
}

.navbar-default .navbar-brand {
    color: #555;
    font-family:'Raleway',sans-serif;
}
.navbar-text {
  color: #555 !important;
  font-family:'Raleway',sans-serif;
}

.navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #A6FCF3 0%, #8BB9F0 100%);
    background-image: -o-linear-gradient(top, #A6FCF3 0%, #8BB9F0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A6FCF3), to(#8BB9F0));
    background-image: linear-gradient(to bottom, #A6FCF3 0%, #8BB9F0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.nav > li > a.dropdown-toggle:hover,
.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-image: -webkit-linear-gradient(top, #A6FCF3 0%, #8BB9F0 100%);
    background-image: -o-linear-gradient(top, #A6FCF3 0%, #8BB9F0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A6FCF3), to(#8BB9F0));
    background-image: linear-gradient(to bottom, #A6FCF3 0%, #8BB9F0 100%) !important;
}

.logos {
  display: none;
  margin-top:60px;
}
.welcome {
  margin-top:60px;
  padding-bottom:60px;
}
.explore{
  margin-top:20px;
}

